#navbar {
  display: flex;
  justify-content: space-around;
  background-color: aquamarine;
  margin-bottom: 20px;
}

.home {
  color: red;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: red;
}
